<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
</head>
    <body>
    <form method="GET" action="/result_settings">
        Укажите промежуток времени для уведомлений:
        <input type="text" name="time_remiend" value = {{time}}><br><br>
        Количество слов в тесте:
        <input type="text" name="count_word" value = {{count_word_raund}}><br><br>
        Количество правильных ответов, после которых слово будет считаться выученным:
        <input type="text" name="count_answer" value = {{count_true_answer}}><br><br>
        <input type="submit" value="Сохранить"><br><br>
    </form>

    </body>
</html>
