<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
</head>
    <body>
    <form method="GET" action="/result_settings">
        Время, через которое бот будет напоминать о необходимости повторить слова:
        <input type="text" name="time_remiend" value = {{time}}><br>
        Количество слов в одном раунде заучивания:
        <input type="text" name="count_word" value = {{count_word_raund}}><br>
        Количество правильных ответов, после которых считается, что слово выучено:
        <input type="text" name="count_answer" value = {{count_true_answer}}><br>
        <input type="submit" value="Сохранить"><br><br>
    </form>

    </body>
</html>